---
layout: page
title: Others
desc: (๑°&#8979;°๑)
permalink: /others/
order: 4
---

<div class="others">
  <div class="title">Blogs</div>
  <ul class="blogs item-list">
    {% for blog in site.data.blogs %}
    <li class="item"><a href="{{ blog.url }}">{{ blog.name }}</a>
      <span class="desc">{{ blog.desc }}</span>
    </li>
    {% endfor %}
  </ul>
  
  <div class="title">Wisdoms</div>
  <ul class="wisdoms item-list">
    {% for wisdom in site.data.wisdoms %}
    <li class="item">
      <div class="by">{% if wisdom.by %}{{ wisdom.by }}{% else %}Anonymous{%endif%}:</div>
      <div class="text">{{ wisdom.text }}</div>
    </li>
    {% endfor %}
  </ul>
</div>