---
layout: page
title: Others
desc: (๑°&#8979;°๑)
permalink: /others/
order: 4
---

<div class="others">
  <div class="title">Talents</div>
  <ul class="item-list talents">
    {% for talent in site.data.talents %}
    <li class="item">
      <div class="name">{{ talent.name }}</div>
      {% if talent.blog %}
      <div class="entry">
        blog: <a href="{{ talent.blog }}">{{ talent.blog }}</a>
      </div>
      {% endif %}
      {% if talent.github %}
      <div class="entry">
        github: <a href="{{ talent.github }}">{{ talent.github }}</a>
      </div>
      {% endif %}
      <div class="desc">{{ talent.desc }}</div>
    </li>
    {% endfor %}
  </ul>
  
  <div class="title">Wisdoms</div>
  <ul class="wisdoms item-list">
    {% for wisdom in site.data.wisdoms %}
    <li class="item">
      <div class="by">{% if wisdom.by %}{{ wisdom.by }}{% else %}Anonymous{%endif%}:</div>
      <div class="text">{{ wisdom.text }}</div>
    </li>
    {% endfor %}
  </ul>
</div>