$header-height: 56px;
/**
 * Site header
 */
 .site-header {
    border-top: 5px solid $grey-color-dark;
    background-color: #fff;
    min-height: $header-height;
    box-shadow: 0 0 1em $grey-color-light;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    a {
        text-decoration: none;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: $header-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: $header-height;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: inherit;
        display: inline-block;
        padding: 0 .5em;

        &:hover {
            background-color: #f4f4f4;
        }

        &.active {
            background-color: $brand-color;
            color: #fff;
        }
    }
}



/**
 * Site footer
 */
 .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend .clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

/**
 * Page content
 */

 .page {
    margin-top: $header-height + 5px;
    padding: $spacing-unit 0;
}

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    > li.item {
        padding: 0;
        -webkit-transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out;
        
        &:hover {
            box-shadow: 5px 5px 10px rgba(0,0,0,.06);
        }

        .post-link {
            display: block;
            position: relative;
            text-decoration: none;
            color: $text-color;

            &:hover .post-title {
                color: $brand-color;
            }
        }

        .post-title {
            font-size: 1.5em;
            text-align: center;
            padding: $spacing-unit;
            border-bottom: 1px solid $grey-color-light;
            -webkit-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;
        }

        .post-excerpt {
            font-size: .8em;
            padding: $spacing-unit;
        }

        .post-meta {
            position: absolute;
            top: 0;
            right: 0;
            font-size: $small-font-size;
            color: $grey-color;
            padding: .3em 1em;
            box-shadow: inset 0 -1px 2px $grey-color-light;
            border-top-right-radius: $default-border-radius;
            border-bottom-left-radius: $default-border-radius;
        }

        .post-read-more {
            color: $brand-color;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.post-tags span {
    border-radius: .3em;
    padding: .2em .3em;
    margin-right: .3em;
    transition: background-color, .2s, ease-in-out;

    &:hover {
        background-color: #ddd;
    }
}

/**
 * Posts
 */
 .post {
    padding: 2em;
    @extend .card;
    counter-reset: h1 0;
    position: relative;
    z-index: 1;

    .post-header {
        margin-bottom: $spacing-unit;

        .post-title {
            font-size: 2em;
            letter-spacing: -1px;
            line-height: 1;
            text-align: center;
        }

        .post-meta {
            text-align: center;
            font-size: $small-font-size;
            color: $grey-color;
        }
    }

    .post-content {
        margin-bottom: $spacing-unit;

        p {
            margin: 1.5em 0;
            line-height: 2;
        }

        pre,
        code {
            border: 0;
            background-color: $code-bg-color;
            font-family: inherit;
        }

        code {
            border-radius: .2em;
            padding: 1px 5px;
            color: $code-text-color;
            display: inline-block;
            line-height: 1.2;
            font-family: $code-font-family;
            font-weight: bold;
            margin: 0 .2em;
        }

        pre {
            border-radius: $default-border-radius;
            padding: 2em;
            overflow-x: auto;
            white-space: pre-wrap;
            color: #336699;

            > code {
                border: 0;
                padding-right: 0;
                padding-left: 0;
                color: inherit;
                font-weight: normal;
                margin: 0;
            }
        }


        h1,
        h2,
        h3 {
            margin: 1em 0 .5em;
            padding: .2em;
        }

        h1 {
            font-size: 1.6em;
            border-bottom: dashed 1px #dfdfdf;
            counter-increment: h1;
            counter-reset: h2 0;
        }

        h1:before {
            content: counter(h1) '. ';
        }

        h1:after {
            content: '#';
        }

        h2 {
            font-size: 1.4em;
            border: none;
            counter-increment: h2;
            counter-reset: h3 0;
        }

        h2:before {
            content: counter(h1) '.' counter(h2) '. ';
        }

        h2:after {
            content: '##';
        }

        h3 {
            font-size: 1.2em;
            border: none;
            counter-increment: h3;
            counter-reset: h4 0;
        }

        h3:before {
            content: counter(h1) '.' counter(h2) '.' counter(h3) '. ';
        }

        h3:after {
            content: '###';
        }

        h4 {
            font-size: 1.1em;
            border: none;
            counter-increment: h4;
            counter-reset: h5 0;
        }

        h4:before {
            content: counter(h1) '.' counter(h2) '.' counter(h3) '.' counter(h4) '. ';
        }

        h4:after {
            content: '####';
        }

        h1:after,
        h2:after,
        h3:after,
        h4:after {
            color: #888;
            position: relative;
            left: .25em;
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        h1:hover:after,
        h2:hover:after,
        h3:hover:after,
        h4:hover:after {
            left: .5em;
            opacity: 1;
        }

        .my-comment {
            background-color: #B4EB7C;
            display: inline-block;
            border-radius: .2em;
            padding: .5em 1em;
            position: relative;
            margin: 1em 0;
        }

        .my-comment:before,
        .my-comment:after {
            position: absolute;
            top: 14px;
            right: 100%;
            border: 6px solid transparent;
            content: " ";
        }

        .my-comment:after {
            border-right-color: #B4EB7C;
        }

        a.demo-link {
            display: inline-block;
            color: #fff;
            background-color: #3498db;
            border-radius: .3em;
            padding: .5em 1em;
        }

        .todo {
            background-color: #FF4539;
            color: #fff;
            padding: .5em 1em;
            font-size: .8em;
            border-radius: .2em;
        }

        hr {
            margin: 1em 0;
            border: 0;
            border-top: solid .5em #eaeff3;
        }
    }
}

.pre-post-nav {
    a.prev-post,
    a.next-post {
        padding-bottom: 1.5em;
        margin-bottom: -1em;
    }
}

.post-post-nav {
    a.prev-post,
    a.next-post {
        padding-top: 1.5em;
        margin-top: -1em;
    }
}

a.prev-post,
a.next-post {
    display: inline-block;
    color: #888;
    background-color: #fafafa;
    border-radius: .3em;
    padding: .5em 1em;
    text-decoration: none;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: #fff;
    }
}

a.prev-post {
    float: left;

    &:before {
        content: '\2039';
    }
}

a.next-post {
    float: right;

    &:after {
        content: '\203A';
    }
}

#disqus_thread {
    margin-top: 2em;
}
