/**
 * Site header
 */
 .site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}



/**
 * Site footer
 */
 .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend .clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

/**
 * Page content
 */
 .page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-top: -1px;
        border: dashed 1px #ddd;

        &:first-of-type {
            border-top-left-radius: $default-border-radius;
            border-top-right-radius: $default-border-radius;
        }

        &:last-of-type {
            border-bottom-left-radius: $default-border-radius;
            border-bottom-right-radius: $default-border-radius;
        }

        &:hover {
            border-color: $brand-color;
            position: relative;
            z-index: 2;
        }

        .post-link {
            display: block;
            padding: $spacing-unit;
            text-decoration: none;
            color: #333;
            transition: .2s color ease-in-out;

            &:hover .post-title {
                color: $brand-color;
            }
        }

        .post-title {
            font-size: 2em;
            text-align: center;
            line-height: 2;
        }

        .post-excerpt {
            font-size: .8em;
        }

        .post-meta {
            font-size: $small-font-size;
            color: $grey-color;
            text-align: center;
            padding: 1em;
        }

        .post-read-more {
            color: $brand-color;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.post-tags span {
    border-radius: .3em;
    padding: .2em .3em;
    margin-right: .3em;
    transition: background-color, .2s, ease-in-out;

    &:hover {
        background-color: #ddd;
    }
}

/**
 * Posts
 */
 .post {
    padding: 2em 1em;
    border: dashed 1px #ddd;
    border-radius: $default-border-radius;

    .post-header {
        margin-bottom: $spacing-unit;

        .post-title {
            font-size: 2em;
            letter-spacing: -1px;
            line-height: 1;
            text-align: center;
        }

        .post-meta {
            text-align: center;
            font-size: $small-font-size;
            color: $grey-color;
        }
    }

    .post-content {
        margin-bottom: $spacing-unit;

        p {
            margin: 1.5em 0;
            line-height: 2;
        }

        pre,
        code {
            border: 0;
            background-color: $code-bg-color;
            font-family: inherit;
        }

        code {
            border-radius: .2em;
            padding: 1px 5px;
            color: #c7254e;
            display: inline-block;
            line-height: 1.2;
            font-family: "Courier New", sans-serif;
            font-weight: bold;
            margin: 0 .2em;
        }

        pre {
            border-radius: $default-border-radius;
            padding: 2em;
            overflow-x: auto;
            white-space: pre-wrap;
            color: #336699;

            > code {
                border: 0;
                padding-right: 0;
                padding-left: 0;
                color: inherit;
                font-weight: normal;
                margin: 0;
            }
        }


        h1,
        h2,
        h3 {
            margin: 1em 0 .5em;
            padding: .2em;
        }

        h1 {
            font-size: 1.6em;
            border-bottom: dashed 1px #dfdfdf;
        }

        h1:after {
            content: '#';
        }

        h2 {
            font-size: 1.4em;
            border: none;
        }

        h2:after {
            content: '##';
        }

        h3 {
            font-size: 1.2em;
            border: none;
        }

        h3:after {
            content: '###';
        }

        h4 {
            font-size: 1.1em;
            border: none;
        }

        h4:after {
            content: '####';
        }

        h1:after,
        h2:after,
        h3:after,
        h4:after {
            color: #888;
            position: relative;
            left: .25em;
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        h1:hover:after,
        h2:hover:after,
        h3:hover:after,
        h4:hover:after {
            left: .5em;
            opacity: 1;
        }

        .my-comment {
            background-color: #B4EB7C;
            display: inline-block;
            border-radius: .2em;
            padding: .5em 1em;
            position: relative;
            margin: 1em 0;
        }

        .my-comment:before,
        .my-comment:after {
            position: absolute;
            top: 14px;
            right: 100%;
            border: 6px solid transparent;
            content: " ";
        }

        .my-comment:after {
            border-right-color: #B4EB7C;
        }

        a.demo-link {
            display: inline-block;
            color: #fff;
            background-color: #3498db;
            border-radius: .3em;
            padding: .5em 1em;
        }

        .todo {
            background-color: #FF4539;
            color: #fff;
            padding: .5em 1em;
            font-size: .8em;
            border-radius: .2em;
        }

        hr {
            margin: 1em 0;
            border: 0;
            border-top: solid .5em #eaeff3;
        }
    }
}

a.prev-post,
a.next-post {
    display: inline-block;
    color: #fff;
    background-color: #3498db;
    border-radius: .3em;
    padding: .5em 1em;
    margin: 1em 0;
}

a.prev-post {
    float: left;

    &:before {
        content: '\2039';
    }
}

a.next-post {
    float: right;

    &:after {
        content: '\203A';
    }
}
